/* 
* Options styling
*/

.ab-shortcode { color: #2ea2cc; }
.ab-html-notification-wrap .wp-editor-wrap { width: 80%; }
.ab-mail-subject { width: 40%; }

@media only screen and (max-width: 959px) {
 
    .ab-html-notification-wrap .wp-editor-wrap { width: 100%; }
    
}

